html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: cursive;
    background: #FDF7E4;
    color: #65451F;
}

h2 {
    text-align: center;
}

.login-logout-card .card-header {
    padding: 0 0 12px 0;
}

.login-logout-card ul.nav-tabs {
    margin: 0 0 -12px 0;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px
}

select {
    width: 100%;
    height: 58px;
    text-align: center;
    margin-bottom: 20px;
}
.card {
    border-radius:10px;
}

.nav-item a.nav-link, #forgot-password {
    color: #C8AE7D;
}

.nav-item a.nav-link.active {
        color: #65451F;
}
#account h2, #registerForm h2{
    font-weight: bold;
}

.card button, .card button:hover {
    background: #65451F;
    border: none
}
.card button:hover{
    opacity:0.5;
}

